In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df= pd.read_csv("D:\CS 539\project\pokemon_alopez247.csv")
df.head()

,Number,Name,Type_1,Type_2,Total,HP,Attack,Defense,Sp_Atk,Sp_Def,...,Color,hasGender,Pr_Male,Egg_Group_1,Egg_Group_2,hasMegaEvolution,Height_m,Weight_kg,Catch_Rate,Body_Style
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,...,Green,True,0.875,Monster,Grass,False,0.71,6.9,45,quadruped
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,...,Green,True,0.875,Monster,Grass,False,0.99,13.0,45,quadruped
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,...,Green,True,0.875,Monster,Grass,True,2.01,100.0,45,quadruped
3,4,Charmander,Fire,NaN,309,39,52,43,60,50,...,Red,True,0.875,Monster,Dragon,False,0.61,8.5,45,bipedal_tailed
4,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,...,Red,True,0.875,Monster,Dragon,False,1.09,19.0,45,bipedal_tailed

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 721 entries, 0 to 720
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Number            721 non-null    int64
 1   Name              721 non-null    object
 2   Type_1            721 non-null    object
 3   Type_2            350 non-null    object
 4   Total             721 non-null    int64
 5   HP                721 non-null    int64
 6   Attack            721 non-null    int64
 7   Defense           721 non-null    int64
 8   Sp_Atk            721 non-null    int64
 9   Sp_Def            721 non-null    int64
 10  Speed             721 non-null    int64
 11  Generation        721 non-null    int64
 12  isLegendary       721 non-null    bool
 13  Color             721 non-null    object
 14  hasGender         721 non-null    bool
 15  Pr_Male           644 non-null    float64
 16  Egg_Group_1       721 non-null    object
 17  Egg_Group_2       191 non-null    object
 18  hasMegaEvolution  721 non-null    bool
 19  Height_m          721 non-null    float64
 20  Weight_kg         721 non-null    float64
 21  Catch_Rate        721 non-null    int64
 22  Body_Style        721 non-null    object
dtypes: bool(3), float64(3), int64(10), object(7)
memory usage: 114.9+ KB